root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.json]
charset = utf-8

[*.ts]
charset = utf-8

[*.tsx]
charset = utf-8
